<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535042158426-ara5nl6vsq0no3ag7lksufcbhf16a6nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535042158426-ara5nl6vsq0no3ag7lksufcbhf16a6nf</string>
	<key>API_KEY</key>
	<string>AIzaSyBgV8b0plRs7GTQ8dtTSshfuF4TQH0QNXw</string>
	<key>GCM_SENDER_ID</key>
	<string>535042158426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>whtsapclone-29d24</string>
	<key>STORAGE_BUCKET</key>
	<string>whtsapclone-29d24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535042158426:ios:e7bcfbc116f737070fcd63</string>
</dict>
</plist>